VITE_MARCAJES_API_URL=https://marcajes-vg7vvkcauq-ue.a.run.app/marcajes
VITE_RUTS_API_URL=https://autoclocking-ruts-vg7vvkcauq-ue.a.run.app/ruts
VITE_FIREBASE_API_KEY=AIzaSyA5juPJ2k13_C1NusQyhKA8VCnhuHQ9wzU
VITE_FIREBASE_AUTH_DOMAIN=reportability-frontend-staging.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=reportability-frontend-staging
VITE_FIREBASE_STORAGE_BUCKET=reportability-frontend-staging.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1019892014446
VITE_FIREBASE_APP_ID=1:1019892014446:web:f0f110b558ca5d4180357f
VITE_FIREBASE_DB_ID=autoclocking
